@font-face {
  font-family: 'octobermoon';
  src: url('octobermoon.otf');
}

.load {
  padding-top: 10%;
}

.button.is-link {
  background-color: grey;
}

.button:hover {
  background-color: #29006a !important;
  color: white !important;
}

.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
  border-color: #29006a;
}

a:hover {
  color: #29006a !important;
}

a {
  color: grey;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.logo {
  font-family: 'octobermoon';
  font-size: 170%;
  padding-top: 5%;
}

.headings {
  font-size: 175%;
}

.about-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.comments {
  display: flex;
  justify-content: center;
}

.lyndi-hero {
  display: flex;
  justify-content: center;
}

.comments {
  margin-bottom: 3%;
}

.lyndi-hero {
  margin-bottom: 3%;
}

comment-list {
  display: flex;
  justify-content: center;
}

.media-content {
  margin-bottom: 3%;
}

.submit-form {
  padding-left: 10%;
  padding-right: 10%;
}

.media {
  margin-left: 10%;
  margin-right: 10%;
}

.navbar {
  margin-bottom: 3%;
}

.logo {
  margin-top: 2%;
  height: 20pt;
  float: right;
}


.pages {
  padding-bottom: 3%;
}

.column {
  padding-left: 3%;
  padding-right: 3%;
}

.vertically {
  padding-top: 10%;
  padding-bottom: 10%;
}

.cancel:hover {
  color: white !important;
}

@media only screen and (max-width: 1024px) {
    .logo {
        margin: 2%;
        padding: 2%;
    }
}

@media only screen and (max-width: 520px) {
    .headings {
        font-size: 140%;
        margin-bottom: 15%;
        margin-top: 15%;
    }
}

@media only screen and (max-width: 520px) {
    .about-mobile {
        font-size: 100%;
        padding-left: 7%;
        padding-right: 7%;
    }
}
