@font-face {
  font-family: 'octobermoon';
  src: url('octobermoon.otf');
}

.logo {
  font-family: 'octobermoon';
  font-size: 170%;
  padding-top: 5%;
}

.about-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.comments {
  display: flex;
  justify-content: center;
}

.lyndi-hero {
  display: flex;
  justify-content: center;
}
.comments {
  margin-bottom: 5%;
}

.lyndi-hero {
  margin-bottom: 3%;
}
comment-list {
  display: flex;
  justify-content: center;
}
.media-content {
  margin-bottom: 3%;
}
.submit-form {
  padding-left: 10%;
  padding-right: 10%;
}

.media {
  margin-left: 10%;
  margin-right: 10%;
}

.navbar {
  margin-bottom: 5%;
}

.logo {
  margin-top: 2%;
  height: 20pt;
  float: right;
}
